<!-- This launch file brings up all the sensory components of the boat -->

<launch>

	<!--Velodyne Driver -->
<!-- 	<node pkg="velodyne_driver" type="velodyne_node" name="velodyne_node">
 		<param name="frame_id" value="velodyne"/>
 		<param name="model" value="VLP16"/>
 		<param name="rpm" value="600"/>
 		<param name="port" value="2368"/>
 	</node>
-->
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
 	<!--Px4 driver -->
	<include file="$(find mavros)/launch/px4.launch" />
	
	<!--Vectornav driver -->
 	<include file="$(find vectornav)/launch/vectornav.launch" />

 </launch>
