<launch>
	<node pkg="move_base" type="move_base" respawn="false" name="boat_movebase" output="screen">
	<!--
		<param name="base_local_planner" value="insert_local_planner"/>
		<param name="base_global_planner" value="insert_global_planner"/>
	-->
		<rosparam file="$(find boat_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find boat_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
	    <rosparam file="$(find boat_navigation)/config/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find boat_navigation)/config/global_costmap_params.yaml" command="load" /> 
	    <rosparam file="$(find boat_navigation)/config/base_local_planner_params.yaml" command="load" />
	</node>
</launch>		