<!-- Static Transforms for incoming sensor information into base_link-->

<launch>
	<node pkg="tf" type="static_transform_publisher" name="vn300_tf" args= "0 0 0 0 0 0  base_link vectornav 10"/>
	<node pkg="tf" type="static_transform_publisher" name="velodyne_tf" args="0.49 0 0.3186 0 0 0  base_link velodyne 10"/>
</launch>